html {
    font-size: 20px;    
}

body {
    margin: 0;

    font-family: 'Exo 2', sans-serif;;
    font-size: 1rem;
    font-weight: 400;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Container */

.container {
    display: flex;
    min-height: 100vh;

    position: relative;

    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

    box-shadow: 0 0 5px #000;
}

/* Aside */

.aside {
    width: 30%;
    padding: 30px;

    background-color: #2a3447;
}

.aside__profile {
    margin-bottom: 30px;
    text-align: center;
}

.aside__img {
    display: inline-block;
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
    padding: 7px;

    border: 2px solid #ffffff;
    border-radius: 50%;

}

.aside__name {
    font-size: 2.5rem;
    font-weight: 400;
    color: #00a2ff;
}

.aside__title, .main__title {
    margin-bottom: 15px;

    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.aside__title:after, .main__title:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 5px;

    background-color: #fff;
}

.aside__contacts, .aside__skills {
    margin-bottom: 60px;
}

.aside__items {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.aside__item {
    width: 50%;
    margin: 5px 0;
    
    font-size: 0.9rem;
    color: #fff;
    list-style-type: none;

    transition: color .2s linear;
}

.aside__item--contacts i {
    transition: color .2s linear;
}

.aside__item--contacts a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;

    transition: color .2s linear;
}

.aside__item--contacts:hover a {
    color: #b1b1b1;
}

.aside__item--contacts:hover i {
    color: #b1b1b1;
}

.aside__item--skils:nth-child(1) i {
    color: #f26527;
}

.aside__item--skils:nth-child(2) i {
    color: #27a9e1;
}

.aside__item--skils:nth-child(3) i {
    color: #f7df1e;
}

.aside__item--skils:nth-child(4) i {
    color: #f05134;
}


/* Main */

.main {
    width: 70%;
    padding: 40px 15px 0 30px;
}

.main__name {
    margin-bottom: 2px;

    font-size: 2rem;
    font-weight: 400;
    color: #2a3447;
}

.main__name span {
    font-weight: 700;
}

.main__prof {
    margin-bottom: 35px;

    font-size: 0.9rem;
    color: #858585;
}

.main__subtitle {
    margin-bottom: 10px;

    color: #2a3447;
    font-weight: 700;
}

.main__text {
    font-size: 0.9rem;
    color: #858585;
}

.main__content {
    margin-top: 25px;
}

.main__item {
    margin-top: 55px;
}

.main__item:first-child {
    margin-top: 25px;
}

.main__title {
    color: #2a3447;
}

.main__title:after {
    background-color: #2a3447;
}

.main__subjects {
    text-align: left;
}

.main__subject {
    margin-bottom: 10px;

    list-style-type: none;

    font-size: 0.9rem;
    color: #2a3447;
}

/* Footer */

.footer {
    display: flex;
    align-items: flex-end;

    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 1;
}

.footer__text {
    margin-right: 15px;
}

footer a {
    display: inline-block;
    padding: 5px;

    text-decoration: none;
    color: #2a3447;
    border-radius: 10px;

    transition: background-color .2s linear;
}

footer a:hover {
    background-color: #c7c7c76b;
}

/* Media */

@media (max-width: 1220px) {
    
    /* Aside */

    .aside__contacts, .aside__skills {
        margin-bottom: 15px;
    }

    .aside__item {
        width: 100%;
    }
}

@media print {

    /* Aside */

    .aside__profile {
        margin-bottom: 0;
    }

    .aside__title {
        color: #2a3447;
    }

    .aside__item, .aside__item a {
        color: #2a3447;
    }
}